# Cargar los datos

In [1]:
import pandas as pd, numpy as np

In [2]:
url = "https://raw.githubusercontent.com/z3r0st/EB-2022-1-CC50/main/data/CAvideos_cc50.csv"
df = pd.read_csv(url)

In [3]:
url = "https://raw.githubusercontent.com/z3r0st/EB-2022-1-CC50/main/data/CA_category_id.json"
categories = pd.read_json(url)

# InspecciÃ³n de los datos

## DataFrame Principal

In [4]:
df.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,state,lat,lon,geometry
0,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. BeyoncÃ©,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787425,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. BeyoncÃ© i...,Manitoba,50.150025,-96.883322,POINT (-96.88332178 50.15002545)
1,0dBIkQ4Mz1M,17.14.11,PLUSH - Bad Unboxing Fan Mail,iDubbbzTV,23,2017-11-13T17:00:00.000Z,"plush|""bad unboxing""|""unboxing""|""fan mail""|""id...",1014651,127794,1688,13030,https://i.ytimg.com/vi/0dBIkQ4Mz1M/default.jpg,False,False,False,STill got a lot of packages. Probably will las...,British Columbia,49.099960,-116.516697,POINT (-116.516697 49.09996035)
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146035,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO â–¶ \n\nSUBSCRIBE â–º http...,New Brunswick,45.267042,-66.076675,POINT (-66.07667505000001 45.26704185)
3,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095828,132239,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...,Saskatchewan,50.933311,-102.799989,POINT (-102.7999891 50.93331097)
4,2Vv-BfVoq4g,17.14.11,Ed Sheeran - Perfect (Official Music Video),Ed Sheeran,10,2017-11-09T11:04:14.000Z,"edsheeran|""ed sheeran""|""acoustic""|""live""|""cove...",33523622,1634130,21082,85067,https://i.ytimg.com/vi/2Vv-BfVoq4g/default.jpg,False,False,False,ðŸŽ§: https://ad.gt/yt-perfect\nðŸ’°: https://atlant...,Alberta,53.016698,-112.816639,POINT (-112.8166386 53.01669802)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40881 entries, 0 to 40880
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   video_id                40881 non-null  object
 1   trending_date           40881 non-null  object
 2   title                   40881 non-null  object
 3   channel_title           40881 non-null  object
 4   category_id             40881 non-null  int64
 5   publish_time            40881 non-null  object
 6   tags                    40881 non-null  object
 7   views                   40881 non-null  int64
 8   likes                   40881 non-null  int64
 9   dislikes                40881 non-null  int64
 10  comment_count           40881 non-null  int64
 11  thumbnail_link          40881 non-null  object
 12  comments_disabled       40881 non-null  bool
 13  ratings_disabled        40881 non-null  bool
 14  video_error_or_removed  40881 non-null  bool
 15  description             39585 non-null  object
 16  state                   40881 non-null  object
 17  lat                     40881 non-null  float64
 18  lon                     40881 non-null  float64
 19  geometry                40881 non-null  object
dtypes: bool(3), float64(2), int64(5), object(10)
memory usage: 5.4+ MB

In [6]:
df.isna().sum()

video_id                     0
trending_date                0
title                        0
channel_title                0
category_id                  0
publish_time                 0
tags                         0
views                        0
likes                        0
dislikes                     0
comment_count                0
thumbnail_link               0
comments_disabled            0
ratings_disabled             0
video_error_or_removed       0
description               1296
state                        0
lat                          0
lon                          0
geometry                     0
dtype: int64

## CategorÃ­as

In [7]:
categories.head()

,kind,etag,items
0,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
1,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
2,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
3,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
4,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."

In [8]:
categories.index

RangeIndex(start=0, stop=31, step=1)

In [9]:
categories.columns

Index(['kind', 'etag', 'items'], dtype='object')

In [10]:
categories["items"].head()

0    {'kind': 'youtube#videoCategory', 'etag': '"ld...
1    {'kind': 'youtube#videoCategory', 'etag': '"ld...
2    {'kind': 'youtube#videoCategory', 'etag': '"ld...
3    {'kind': 'youtube#videoCategory', 'etag': '"ld...
4    {'kind': 'youtube#videoCategory', 'etag': '"ld...
Name: items, dtype: object

In [11]:
categories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   kind    31 non-null     object
 1   etag    31 non-null     object
 2   items   31 non-null     object
dtypes: object(3)
memory usage: 872.0+ bytes

In [12]:
categories["items"].values

array([{'kind': 'youtube#videoCategory', 'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/Xy1mB4_yLrHy_BmKmPBggty2mZQ"', 'id': '1', 'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ', 'title': 'Film & Animation', 'assignable': True}},
       {'kind': 'youtube#videoCategory', 'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/UZ1oLIIz2dxIhO45ZTFR3a3NyTA"', 'id': '2', 'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ', 'title': 'Autos & Vehicles', 'assignable': True}},
       {'kind': 'youtube#videoCategory', 'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/nqRIq97-xe5XRZTxbknKFVe5Lmg"', 'id': '10', 'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ', 'title': 'Music', 'assignable': True}},
       {'kind': 'youtube#videoCategory', 'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/HwXKamM1Q20q9BN-oBJavSGkfDI"', 'id': '15', 'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ', 'title': 'Pets & Animals', 'assignable': True}},
       {'kind': 'youtube#videoCategory', 'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/9GQMSRjrZdHeb1OEM1XVQ9zbGec"', 'id': '17', 'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ', 'title': 'Sports', 'assignable': True}},
       {'kind': 'youtube#videoCategory', 'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/FJwVpGCVZ1yiJrqZbpqe68Sy_OE"', 'id': '18', 'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ', 'title': 'Short Movies', 'assignable': False}},
       {'kind': 'youtube#videoCategory', 'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/M-3iD9dwK7YJCafRf_DkLN8CouA"', 'id': '19', 'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ', 'title': 'Travel & Events', 'assignable': True}},
       {'kind': 'youtube#videoCategory', 'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/WmA0qYEfjWsAoyJFSw2zinhn2wM"', 'id': '20', 'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ', 'title': 'Gaming', 'assignable': True}},
       {'kind': 'youtube#videoCategory', 'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/EapFaGYG7K0StIXVf8aba249tdM"', 'id': '21', 'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ', 'title': 'Videoblogging', 'assignable': False}},
       {'kind': 'youtube#videoCategory', 'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/xId8RX7vRN8rqkbYZbNIytUQDRo"', 'id': '22', 'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ', 'title': 'People & Blogs', 'assignable': True}},
       {'kind': 'youtube#videoCategory', 'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/G9LHzQmx44rX2S5yaga_Aqtwz8M"', 'id': '23', 'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ', 'title': 'Comedy', 'assignable': True}},
       {'kind': 'youtube#videoCategory', 'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/UVB9oxX2Bvqa_w_y3vXSLVK5E_s"', 'id': '24', 'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ', 'title': 'Entertainment', 'assignable': True}},
       {'kind': 'youtube#videoCategory', 'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/QiLK0ZIrFoORdk_g2l_XR_ECjDc"', 'id': '25', 'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ', 'title': 'News & Politics', 'assignable': True}},
       {'kind': 'youtube#videoCategory', 'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/r6Ck6Z0_L0rG37VJQR200SGNA_w"', 'id': '26', 'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ', 'title': 'Howto & Style', 'assignable': True}},
       {'kind': 'youtube#videoCategory', 'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/EoYkczo9I3RCf96RveKTOgOPkUM"', 'id': '27', 'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ', 'title': 'Education', 'assignable': True}},
       {'kind': 'youtube#videoCategory', 'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/w5HjcTD82G_XA3xBctS30zS-JpQ"', 'id': '28', 'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ', 'title': 'Science & Technology', 'assignable': True}},
       {'kind': 'youtube#videoCategory', 'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/lL7uWDr_071CHxifjYG1tJrp4Uo"', 'id': '30', 'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ', 'title': 'Movies', 'assignable': False}},
       {'kind': 'youtube#videoCategory', 'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/WnuVfjO-PyFLO7NTRQIbrGE62nk"', 'id': '31', 'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ', 'title': 'Anime/Animation', 'assignable': False}},
       {'kind': 'youtube#videoCategory', 'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/ctpH2hGA_UZ3volJT_FTlOg9M00"', 'id': '32', 'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ', 'title': 'Action/Adventure', 'assignable': False}},
       {'kind': 'youtube#videoCategory', 'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/L0kR3-g1BAo5UD1PLVbQ7LkkDtQ"', 'id': '33', 'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ', 'title': 'Classics', 'assignable': False}},
       {'kind': 'youtube#videoCategory', 'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/pUZOAC_s9sfiwar639qr_wAB-aI"', 'id': '34', 'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ', 'title': 'Comedy', 'assignable': False}},
       {'kind': 'youtube#videoCategory', 'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/Xb5JLhtyNRN3AQq021Ds-OV50Jk"', 'id': '35', 'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ', 'title': 'Documentary', 'assignable': False}},
       {'kind': 'youtube#videoCategory', 'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/u8WXzF4HIhtEi805__sqjuA4lEk"', 'id': '36', 'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ', 'title': 'Drama', 'assignable': False}},
       {'kind': 'youtube#videoCategory', 'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/D04PP4Gr7wc4IV_O9G66Z4A8KWQ"', 'id': '37', 'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ', 'title': 'Family', 'assignable': False}},
       {'kind': 'youtube#videoCategory', 'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/i5-_AceGXQCEEMWU0V8CcQm_vLQ"', 'id': '38', 'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ', 'title': 'Foreign', 'assignable': False}},
       {'kind': 'youtube#videoCategory', 'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/rtlxd0zOixA9QHdIZB26-St5qgQ"', 'id': '39', 'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ', 'title': 'Horror', 'assignable': False}},
       {'kind': 'youtube#videoCategory', 'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/N1TrDFLRppxZgBowCJfJCvh0Dpg"', 'id': '40', 'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ', 'title': 'Sci-Fi/Fantasy', 'assignable': False}},
       {'kind': 'youtube#videoCategory', 'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/7UMGi6zRySqXopr_rv4sZq6Za2E"', 'id': '41', 'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ', 'title': 'Thriller', 'assignable': False}},
       {'kind': 'youtube#videoCategory', 'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/RScXhi324h8usyIetreAVb-uKeM"', 'id': '42', 'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ', 'title': 'Shorts', 'assignable': False}},
       {'kind': 'youtube#videoCategory', 'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/0n9MJVCDLpA8q7aiGVrFsuFsd0A"', 'id': '43', 'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ', 'title': 'Shows', 'assignable': False}},
       {'kind': 'youtube#videoCategory', 'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/x5NxSf5fz8hn4loSN4rvhwzD_pY"', 'id': '44', 'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ', 'title': 'Trailers', 'assignable': False}}],
      dtype=object)

In [13]:
categories["items"].values.tolist()

[{'kind': 'youtube#videoCategory',
  'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/Xy1mB4_yLrHy_BmKmPBggty2mZQ"',
  'id': '1',
  'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
   'title': 'Film & Animation',
   'assignable': True}},
 {'kind': 'youtube#videoCategory',
  'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/UZ1oLIIz2dxIhO45ZTFR3a3NyTA"',
  'id': '2',
  'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
   'title': 'Autos & Vehicles',
   'assignable': True}},
 {'kind': 'youtube#videoCategory',
  'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/nqRIq97-xe5XRZTxbknKFVe5Lmg"',
  'id': '10',
  'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
   'title': 'Music',
   'assignable': True}},
 {'kind': 'youtube#videoCategory',
  'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/HwXKamM1Q20q9BN-oBJavSGkfDI"',
  'id': '15',
  'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
   'title': 'Pets & Animals',
   'assignable': True}},
 {'kind': 'youtube#videoCategory',
  'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/9GQMSRjrZdHeb1OEM1XVQ9zbGec"',
  'id': '17',
  'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
   'title': 'Sports',
   'assignable': True}},
 {'kind': 'youtube#videoCategory',
  'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/FJwVpGCVZ1yiJrqZbpqe68Sy_OE"',
  'id': '18',
  'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
   'title': 'Short Movies',
   'assignable': False}},
 {'kind': 'youtube#videoCategory',
  'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/M-3iD9dwK7YJCafRf_DkLN8CouA"',
  'id': '19',
  'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
   'title': 'Travel & Events',
   'assignable': True}},
 {'kind': 'youtube#videoCategory',
  'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/WmA0qYEfjWsAoyJFSw2zinhn2wM"',
  'id': '20',
  'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
   'title': 'Gaming',
   'assignable': True}},
 {'kind': 'youtube#videoCategory',
  'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/EapFaGYG7K0StIXVf8aba249tdM"',
  'id': '21',
  'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
   'title': 'Videoblogging',
   'assignable': False}},
 {'kind': 'youtube#videoCategory',
  'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/xId8RX7vRN8rqkbYZbNIytUQDRo"',
  'id': '22',
  'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
   'title': 'People & Blogs',
   'assignable': True}},
 {'kind': 'youtube#videoCategory',
  'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/G9LHzQmx44rX2S5yaga_Aqtwz8M"',
  'id': '23',
  'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
   'title': 'Comedy',
   'assignable': True}},
 {'kind': 'youtube#videoCategory',
  'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/UVB9oxX2Bvqa_w_y3vXSLVK5E_s"',
  'id': '24',
  'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
   'title': 'Entertainment',
   'assignable': True}},
 {'kind': 'youtube#videoCategory',
  'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/QiLK0ZIrFoORdk_g2l_XR_ECjDc"',
  'id': '25',
  'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
   'title': 'News & Politics',
   'assignable': True}},
 {'kind': 'youtube#videoCategory',
  'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/r6Ck6Z0_L0rG37VJQR200SGNA_w"',
  'id': '26',
  'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
   'title': 'Howto & Style',
   'assignable': True}},
 {'kind': 'youtube#videoCategory',
  'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/EoYkczo9I3RCf96RveKTOgOPkUM"',
  'id': '27',
  'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
   'title': 'Education',
   'assignable': True}},
 {'kind': 'youtube#videoCategory',
  'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/w5HjcTD82G_XA3xBctS30zS-JpQ"',
  'id': '28',
  'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
   'title': 'Science & Technology',
   'assignable': True}},
 {'kind': 'youtube#videoCategory',
  'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/lL7uWDr_071CHxifjYG1tJrp4Uo"',
  'id': '30',
  'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
   'title': 'Movies',
   'assignable': False}},
 {'kind': 'youtube#videoCategory',
  'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/WnuVfjO-PyFLO7NTRQIbrGE62nk"',
  'id': '31',
  'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
   'title': 'Anime/Animation',
   'assignable': False}},
 {'kind': 'youtube#videoCategory',
  'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/ctpH2hGA_UZ3volJT_FTlOg9M00"',
  'id': '32',
  'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
   'title': 'Action/Adventure',
   'assignable': False}},
 {'kind': 'youtube#videoCategory',
  'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/L0kR3-g1BAo5UD1PLVbQ7LkkDtQ"',
  'id': '33',
  'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
   'title': 'Classics',
   'assignable': False}},
 {'kind': 'youtube#videoCategory',
  'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/pUZOAC_s9sfiwar639qr_wAB-aI"',
  'id': '34',
  'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
   'title': 'Comedy',
   'assignable': False}},
 {'kind': 'youtube#videoCategory',
  'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/Xb5JLhtyNRN3AQq021Ds-OV50Jk"',
  'id': '35',
  'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
   'title': 'Documentary',
   'assignable': False}},
 {'kind': 'youtube#videoCategory',
  'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/u8WXzF4HIhtEi805__sqjuA4lEk"',
  'id': '36',
  'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
   'title': 'Drama',
   'assignable': False}},
 {'kind': 'youtube#videoCategory',
  'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/D04PP4Gr7wc4IV_O9G66Z4A8KWQ"',
  'id': '37',
  'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
   'title': 'Family',
   'assignable': False}},
 {'kind': 'youtube#videoCategory',
  'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/i5-_AceGXQCEEMWU0V8CcQm_vLQ"',
  'id': '38',
  'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
   'title': 'Foreign',
   'assignable': False}},
 {'kind': 'youtube#videoCategory',
  'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/rtlxd0zOixA9QHdIZB26-St5qgQ"',
  'id': '39',
  'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
   'title': 'Horror',
   'assignable': False}},
 {'kind': 'youtube#videoCategory',
  'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/N1TrDFLRppxZgBowCJfJCvh0Dpg"',
  'id': '40',
  'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
   'title': 'Sci-Fi/Fantasy',
   'assignable': False}},
 {'kind': 'youtube#videoCategory',
  'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/7UMGi6zRySqXopr_rv4sZq6Za2E"',
  'id': '41',
  'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
   'title': 'Thriller',
   'assignable': False}},
 {'kind': 'youtube#videoCategory',
  'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/RScXhi324h8usyIetreAVb-uKeM"',
  'id': '42',
  'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
   'title': 'Shorts',
   'assignable': False}},
 {'kind': 'youtube#videoCategory',
  'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/0n9MJVCDLpA8q7aiGVrFsuFsd0A"',
  'id': '43',
  'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
   'title': 'Shows',
   'assignable': False}},
 {'kind': 'youtube#videoCategory',
  'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/x5NxSf5fz8hn4loSN4rvhwzD_pY"',
  'id': '44',
  'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
   'title': 'Trailers',
   'assignable': False}}]

### Visualizar valores de la columna items

In [14]:
import urllib.request, json

In [15]:
url = "https://raw.githubusercontent.com/z3r0st/EB-2022-1-CC50/main/data/CA_category_id.json"                   
with urllib.request.urlopen(url) as file:
    cat_data = json.loads(file.read().decode())
items = pd.json_normalize(cat_data, "items", record_prefix="item_")

In [16]:
items.head()

,item_kind,item_etag,item_id,item_snippet.channelId,item_snippet.title,item_snippet.assignable
0,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/Xy1mB4_yLrHy_BmKm...",1,UCBR8-60-B28hp2BmDPdntcQ,Film & Animation,True
1,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/UZ1oLIIz2dxIhO45Z...",2,UCBR8-60-B28hp2BmDPdntcQ,Autos & Vehicles,True
2,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/nqRIq97-xe5XRZTxb...",10,UCBR8-60-B28hp2BmDPdntcQ,Music,True
3,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/HwXKamM1Q20q9BN-o...",15,UCBR8-60-B28hp2BmDPdntcQ,Pets & Animals,True
4,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/9GQMSRjrZdHeb1OEM...",17,UCBR8-60-B28hp2BmDPdntcQ,Sports,True

# Pre-procesar los datos

## AÃ±adir la informaciÃ³n de categorÃ­as

Se debe mofificar la estructura del DataFrame cat (categories) ya que se deben extraer los atributos anidados en "items" y posteriormente, aquellos anidados en "snippet".

De esta forma se obtiene el DataFrame que tiene en cada fila la informaciÃ³n de una categorÃ­a.

In [17]:
cat = pd.DataFrame(categories["items"].values.tolist())
cat["channelId"] = pd.DataFrame(cat["snippet"].values.tolist())["channelId"]
cat["title"] = pd.DataFrame(cat["snippet"].values.tolist())["title"]
cat["assignable"] = pd.DataFrame(cat["snippet"].values.tolist())["assignable"]
del cat["snippet"]

In [18]:
cat.head()

,kind,etag,id,channelId,title,assignable
0,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/Xy1mB4_yLrHy_BmKm...",1,UCBR8-60-B28hp2BmDPdntcQ,Film & Animation,True
1,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/UZ1oLIIz2dxIhO45Z...",2,UCBR8-60-B28hp2BmDPdntcQ,Autos & Vehicles,True
2,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/nqRIq97-xe5XRZTxb...",10,UCBR8-60-B28hp2BmDPdntcQ,Music,True
3,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/HwXKamM1Q20q9BN-o...",15,UCBR8-60-B28hp2BmDPdntcQ,Pets & Animals,True
4,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/9GQMSRjrZdHeb1OEM...",17,UCBR8-60-B28hp2BmDPdntcQ,Sports,True

In [19]:
cat[["title", "assignable", "channelId", "etag"]].head()

,title,assignable,channelId,etag
0,Film & Animation,True,UCBR8-60-B28hp2BmDPdntcQ,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/Xy1mB4_yLrHy_BmKm..."
1,Autos & Vehicles,True,UCBR8-60-B28hp2BmDPdntcQ,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/UZ1oLIIz2dxIhO45Z..."
2,Music,True,UCBR8-60-B28hp2BmDPdntcQ,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/nqRIq97-xe5XRZTxb..."
3,Pets & Animals,True,UCBR8-60-B28hp2BmDPdntcQ,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/HwXKamM1Q20q9BN-o..."
4,Sports,True,UCBR8-60-B28hp2BmDPdntcQ,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/9GQMSRjrZdHeb1OEM..."

In [20]:
cat.index = cat["id"]
# cat.set_index("id")

In [21]:
cat[["title", "assignable", "channelId", "etag"]].head()

,title,assignable,channelId,etag
id,,,,
1,Film & Animation,True,UCBR8-60-B28hp2BmDPdntcQ,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/Xy1mB4_yLrHy_BmKm..."
2,Autos & Vehicles,True,UCBR8-60-B28hp2BmDPdntcQ,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/UZ1oLIIz2dxIhO45Z..."
10,Music,True,UCBR8-60-B28hp2BmDPdntcQ,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/nqRIq97-xe5XRZTxb..."
15,Pets & Animals,True,UCBR8-60-B28hp2BmDPdntcQ,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/HwXKamM1Q20q9BN-o..."
17,Sports,True,UCBR8-60-B28hp2BmDPdntcQ,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/9GQMSRjrZdHeb1OEM..."

In [22]:
cat = cat[["title", "assignable", "channelId", "etag"]]

In [23]:
cat.index.names = ["category_id"]

In [24]:
cat.head()

,title,assignable,channelId,etag
category_id,,,,
1,Film & Animation,True,UCBR8-60-B28hp2BmDPdntcQ,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/Xy1mB4_yLrHy_BmKm..."
2,Autos & Vehicles,True,UCBR8-60-B28hp2BmDPdntcQ,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/UZ1oLIIz2dxIhO45Z..."
10,Music,True,UCBR8-60-B28hp2BmDPdntcQ,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/nqRIq97-xe5XRZTxb..."
15,Pets & Animals,True,UCBR8-60-B28hp2BmDPdntcQ,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/HwXKamM1Q20q9BN-o..."
17,Sports,True,UCBR8-60-B28hp2BmDPdntcQ,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/9GQMSRjrZdHeb1OEM..."

### Verificar duplicados

In [25]:
cat["title"].nunique()

30

In [26]:
cat["title"].count()

31

In [27]:
cat["title"].unique()

array(['Film & Animation', 'Autos & Vehicles', 'Music', 'Pets & Animals',
       'Sports', 'Short Movies', 'Travel & Events', 'Gaming',
       'Videoblogging', 'People & Blogs', 'Comedy', 'Entertainment',
       'News & Politics', 'Howto & Style', 'Education',
       'Science & Technology', 'Movies', 'Anime/Animation',
       'Action/Adventure', 'Classics', 'Documentary', 'Drama', 'Family',
       'Foreign', 'Horror', 'Sci-Fi/Fantasy', 'Thriller', 'Shorts',
       'Shows', 'Trailers'], dtype=object)

In [28]:
cat["title"].value_counts()[cat["title"].value_counts() > 1]

Comedy    2
Name: title, dtype: int64

In [29]:
cat[cat["title"] == "Comedy"]["title"]

category_id
23    Comedy
34    Comedy
Name: title, dtype: object

### Duplicados: ConclusiÃ³n
Los dos registros asociados a Comedy no tienen el mismo id, por lo que no es recomendable eliminar uno, ya que en el DataFrame principal pueden existir registros con cualquiera de los dos ids y en ambos casos deberÃ¡n ser vinculados con la categorÃ­a "Comedy".

## AÃ±adir el tÃ­tulo de categorÃ­a al DF principal

In [30]:
cat_description = pd.DataFrame(cat["title"], index=cat.index)

In [31]:
cat_description.head()

                        title
category_id
1            Film & Animation
2            Autos & Vehicles
10                      Music
15             Pets & Animals
17                     Sports

In [32]:
cat_description.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31 entries, 1 to 44
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   31 non-null     object
dtypes: object(1)
memory usage: 496.0+ bytes

In [33]:
cat_description.index = cat_description.index.astype(int)

In [34]:
df["category_id"] = df["category_id"].astype(int)

In [35]:
df = df.join(cat_description, how="left", rsuffix="_category", on="category_id")

In [36]:
# del df["title_category"]

In [37]:
df[["category_id", "title_category"]].head()

   category_id title_category
0           10          Music
1           23         Comedy
2           23         Comedy
3           24  Entertainment
4           10          Music

## Formatear las fechas correctamente (**limpieza**)

In [38]:
df[["trending_date", "publish_time"]].head()

  trending_date              publish_time
0      17.14.11  2017-11-10T17:00:03.000Z
1      17.14.11  2017-11-13T17:00:00.000Z
2      17.14.11  2017-11-12T19:05:24.000Z
3      17.14.11  2017-11-12T18:01:41.000Z
4      17.14.11  2017-11-09T11:04:14.000Z

In [39]:
df[["trending_date", "publish_time"]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40881 entries, 0 to 40880
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   trending_date  40881 non-null  object
 1   publish_time   40881 non-null  object
dtypes: object(2)
memory usage: 638.9+ KB

Se identifican estos dos formatos divergentes:
* **trending_date**: YY.DD.MM
* **publish_time**: YYYY-MM-DD**T**00:00:00.000Z

Se modificarÃ¡n ambos registros a un Ãºnico formato: **DD-MM-YYYY**

TambiÃ©n se identifica que las columnas almacenan datos de tipo **objeto**, que deberÃ¡n ser modificados a tipo **datetime**.

### Tests (not in-place)

In [40]:
df["trending_date"].apply(lambda date: date[3:5]+"-"+date[-2:]+"-20"+date[:2]).head()

0    14-11-2017
1    14-11-2017
2    14-11-2017
3    14-11-2017
4    14-11-2017
Name: trending_date, dtype: object

In [41]:
df["publish_time"].apply(lambda date: date[8:10]+date[4:7]+"-"+date[:4]).head()

0    10-11-2017
1    13-11-2017
2    12-11-2017
3    12-11-2017
4    09-11-2017
Name: publish_time, dtype: object

In [42]:
# Se necesitarÃ¡ extraer tambiÃ©n la hora de publicaciÃ³n.
df["publish_time"].apply(lambda datetime: datetime[11:-5]).head()

0    17:00:03
1    17:00:00
2    19:05:24
3    18:01:41
4    11:04:14
Name: publish_time, dtype: object

## Formateando la fecha

In [43]:
df["trending_date"] = df["trending_date"].apply(lambda date: date[3:5]+"-"+date[-2:]+"-20"+date[:2])

In [44]:
# Se necesitarÃ¡ extraer tambiÃ©n la hora de publicaciÃ³n.
df = df.rename(columns={"publish_time":"publish_date"})
df["publish_time"] = df["publish_date"].apply(lambda datetime: datetime[11:-5])

In [45]:
df["publish_date"] = df["publish_date"].apply(lambda date: date[8:10]+date[4:7]+"-"+date[:4])

In [46]:
df[["trending_date", "publish_time", "publish_date"]].head()

  trending_date publish_time publish_date
0    14-11-2017     17:00:03   10-11-2017
1    14-11-2017     17:00:00   13-11-2017
2    14-11-2017     19:05:24   12-11-2017
3    14-11-2017     18:01:41   12-11-2017
4    14-11-2017     11:04:14   09-11-2017

In [47]:
df[["trending_date", "publish_time", "publish_date"]].isna().sum()

trending_date    0
publish_time     0
publish_date     0
dtype: int64

## Modificando el tipo de dato

Al realizar la modificaciÃ³n del tipo de dato, el dtype **datetime** tiene un formato YY-MM-DD o YYYY-MM-DD, por lo que se cambiarÃ¡ a este formato (tambiÃ©n vÃ¡lido segÃºn la consigna) al realizar la modificaciÃ³n de tipo de dato.

In [48]:
df["trending_date"] = pd.to_datetime(df["trending_date"], format="%d-%m-%Y")

In [49]:
df["publish_date"] = pd.to_datetime(df["publish_date"], format="%d-%m-%Y")

In [50]:
df[["trending_date", "publish_time", "publish_date"]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40881 entries, 0 to 40880
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   trending_date  40881 non-null  datetime64[ns]
 1   publish_time   40881 non-null  object
 2   publish_date   40881 non-null  datetime64[ns]
dtypes: datetime64[ns](2), object(1)
memory usage: 958.3+ KB

In [51]:
df["title_category"].isna().sum()

74

Existen registros para los cuales no se encontrÃ³ la categorÃ­a asociada dentro del dataset de categorÃ­as. Por ello, se tendrÃ¡ que tomar el valor de estas categorÃ­as del dataset de EE.UU.

# Tratado de datos faltantes

In [52]:
df.isna().sum()[df.isna().sum() > 0]

description       1296
title_category      74
dtype: int64

Tanto la descripciÃ³n como el tÃ­tulo de la categorÃ­a presentan valores faltantes. 

Se tratarÃ¡ cada caso individualmente.

## Datos faltantes de tÃ­tulo de categorÃ­a

### Obtener la informaciÃ³n

Se sabe que el documento .json de las categorÃ­a de EE.UU. deberÃ­a contener la totalidad de categorÃ­as, por ello, se verificarÃ¡ si aquÃ­ se encuentra la(s) categorÃ­a(s) faltante(s).

In [53]:
url = "https://raw.githubusercontent.com/z3r0st/EB-2022-1-CC50/main/data/US_category_id.json"
categories_US = pd.read_json(url)

In [54]:
cat_US = pd.DataFrame(categories_US["items"].values.tolist())
cat_US["channelId"] = pd.DataFrame(cat_US["snippet"].values.tolist())["channelId"]
cat_US["title"] = pd.DataFrame(cat_US["snippet"].values.tolist())["title"]
cat_US["assignable"] = pd.DataFrame(cat_US["snippet"].values.tolist())["assignable"]
del cat_US["snippet"]

In [55]:
cat_US.head()

,kind,etag,id,channelId,title,assignable
0,youtube#videoCategory,"""m2yskBQFythfE4irbTIeOgYYfBU/Xy1mB4_yLrHy_BmKm...",1,UCBR8-60-B28hp2BmDPdntcQ,Film & Animation,True
1,youtube#videoCategory,"""m2yskBQFythfE4irbTIeOgYYfBU/UZ1oLIIz2dxIhO45Z...",2,UCBR8-60-B28hp2BmDPdntcQ,Autos & Vehicles,True
2,youtube#videoCategory,"""m2yskBQFythfE4irbTIeOgYYfBU/nqRIq97-xe5XRZTxb...",10,UCBR8-60-B28hp2BmDPdntcQ,Music,True
3,youtube#videoCategory,"""m2yskBQFythfE4irbTIeOgYYfBU/HwXKamM1Q20q9BN-o...",15,UCBR8-60-B28hp2BmDPdntcQ,Pets & Animals,True
4,youtube#videoCategory,"""m2yskBQFythfE4irbTIeOgYYfBU/9GQMSRjrZdHeb1OEM...",17,UCBR8-60-B28hp2BmDPdntcQ,Sports,True

In [56]:
cat_US["title"].nunique()

31

In [57]:
cat_US["title"].count()

32

Se identifica que el dataset de categorÃ­as de EE.UU. tiene 1 categorÃ­a mÃ¡s que el de CanadÃ¡. Se intuye que esta categorÃ­a es la correspondiente a los 74 registros faltantes.

### Comprobar que es la informaciÃ³n faltante

In [58]:
for categorie in cat_US["title"].values.tolist():
    if categorie not in cat["title"].values.tolist():
        print(categorie)

Nonprofits & Activism

In [59]:
cat_US = cat_US.set_index("id")
cat_US.index = cat_US.index.astype(int)

In [60]:
cat_US[cat_US["title"] == "Nonprofits & Activism"]["title"]

id
29    Nonprofits & Activism
Name: title, dtype: object

In [61]:
df[df["title_category"].isna()]["category_id"].value_counts()

29    74
Name: category_id, dtype: int64

AquÃ­ se ha comprobado que efectivamente el valor de tÃ­tulo en los registros del DataFrame es "Nonprofits & Activism"

### Reemplazar los valores faltantes en el DataFrame

Ya que se ha verificado que se ha obtenido la informaciÃ³n faltante de otra fuente relacionada, se puede reemplazar directamente con el valor hallado, sin necesidad de eliminar los registros ni aplicar una tÃ©cnica de reemplazo (se estÃ¡n usando los valores reales, no unos simulados).

In [62]:
df["title_category"].fillna(value=cat_US.loc[29]["title"], inplace=True)

In [63]:
df["title_category"].isna().sum()

0

Se llenÃ³ exitosamente la informaciÃ³n de todas las categorÃ­as.

## Datos faltantes en DescripciÃ³n

In [64]:
df.columns

Index(['video_id', 'trending_date', 'title', 'channel_title', 'category_id',
       'publish_date', 'tags', 'views', 'likes', 'dislikes', 'comment_count',
       'thumbnail_link', 'comments_disabled', 'ratings_disabled',
       'video_error_or_removed', 'description', 'state', 'lat', 'lon',
       'geometry', 'title_category', 'publish_time'],
      dtype='object')

In [100]:
df[df["channel_title"] == df.iloc[0]["channel_title"]]["description"].head()

0       Eminem's new track Walk on Water ft. BeyoncÃ© i...
214     Eminem's new track Walk on Water ft. BeyoncÃ© i...
498     Eminem's new track Walk on Water ft. BeyoncÃ© i...
791     Eminem's new track Walk on Water ft. BeyoncÃ© i...
1226    Eminem's official 2017 SNL performance.\n \nWa...
Name: description, dtype: object

In [66]:
df[df["description"].isna()]["channel_title"].value_counts().head()

The View                        142
The Real Daytime                 49
Croton MEGA HIT å…‹é “å‚³åª’2017çˆ†æ¬¾å¤§åŠ‡     43
Motion Station                   39
Shalom Entertainment             38
Name: channel_title, dtype: int64

In [67]:
df[df["channel_title"] == "The View"]["channel_title"].count()

149

Para "The View", de 147 registros, 142 presentan descripciÃ³n faltante.

Esto nos indica, por un lado, que sÃ­ existen registros con descripciÃ³n para el canal, lo cual significa que serÃ­a posible llenar estos faltantes con cierto grado de precisiÃ³n.

In [68]:
df[(df["description"].notna()) & (df["channel_title"] == "The View")]["description"]

470      The View co-hosts share their responses to tro...
18382    â€œThis is a show where we respect one another a...
21427    The View co-hosts discuss whether the presiden...
22175    Clinton joined The View to discuss what she'd ...
28552             The word of the day in America is leaks.
28833             The word of the day in America is leaks.
33685    MORE FROM 'THE VIEW':Full episodes: http://abc...
Name: description, dtype: object

TambiÃ©n se analizarÃ¡ las caracterÃ­sticas de los registros del segundo canal con mayor cantidad de registros faltantes.

In [69]:
df[df["channel_title"] == "The Real Daytime"]["channel_title"].count()

133

Para "The Real Daytime", de 133 registros, 49 presentan descripciÃ³n faltante.

Esto nos indica, por un lado, que existen bastantes registros con descripciÃ³n para el canal, lo cual significa que serÃ­a posible llenar estos faltantes, pero es necesario comprobar si siempre se usa la misma descripciÃ³n o esta varÃ­a.

In [70]:
df[(df["description"].notna()) & (df["channel_title"] == "The Real Daytime")]["description"].value_counts().head()

For how long could you be celibate?                                                     3
Do you think if a man truly loves his woman, another woman can take him away?           3
What do you think of Fergie's  version of the National Anthem?                          2
Do you think a child should automatically get the father's last name?                   2
If you had reservations before getting married, would you still walk down the aisle?    2
Name: description, dtype: int64

Como se puede visualizar, la moda tiene 3 apariciones, de un total de 84. De modo que no se presentan una descripciÃ³n generalizada para el canal, es decir, la moda no es descriptiva del conjunto de descripciones. 

Por ello, se concluye como mejor estrategia, asignarle a las descripciones faltantes, el valor de una descripciÃ³n del mismo canal escogida aleatoriamente.

In [85]:
import random

In [92]:
for channel in set(df[df["description"].isna()]["channel_title"].values.tolist()):
    n = len(df[(df["description"].notna()) & (df["channel_title"] == channel)])
    if n == 0: continue
    N = len(df[(df["description"].isna()) & (df["channel_title"] == channel)])
    
    new_values = []
    while(N > n):
        new_values += random.sample(df[(df["description"].notna()) & (df["channel_title"] == channel)]["description"].values.tolist(), k=n)
        N -= n
    new_values += random.sample(df[(df["description"].notna()) & (df["channel_title"] == channel)]["description"].values.tolist(), k=N)
    
    new_values = pd.Series(data=new_values, index=df[(df["description"].isna()) & (df["channel_title"] == channel)].index)
    for i in new_values.index:
        df.loc[i, "description"] = new_values.loc[i]
#     df[(df["description"].isna()) & (df["channel_title"] == channel)]["description"] = pd.Series(new_values)

In [101]:
df["description"].isna().sum()

722

In [99]:
channel_count, without_description_count = 0, 0
for channel in set(df[df["description"].isna()]["channel_title"].values.tolist()):
    channel_count += 1
    without_description_count += 1 > sum(df[df["channel_title"] == channel]["description"].notna())
print(f"In total, {channel_count} channels have videos registered without description, from which {without_description_count} haven't registered a description in any video")

In total, 303 channels have videos registered without description, from which 303 haven't registered a description in any video

Todos los valores faltantes son de canales que no publican descripciones para ninguno de sus videos, por ello se considera apropiado dejar ese valor como faltante.

No se ha decidido eliminar estos registros porque la descripciÃ³n no es un dato importante para el conocimiento que buscamos obtener a partir de la exploraciÃ³n y procesamiento de los datos.

## Ordenar y organizar el DataFrame